// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025, Sohaib Mohamed <sohaib.amhmd@gmail.com>
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3562.dtsi"


/ {
	model = "Rockchip RK3562 kickpi k3";
	compatible = "rockchip,rk3562-kickpi-k3", "rockchip,rk3562";

	chosen: chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff210000 console=ttyFIQ0 root=PARTUUID=614e0000-0000 rw rootwait";
	};

	fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <0>;
		rockchip,wake-irq = <0>;
		/* If enable uart uses irq instead of fiq */
		rockchip,irq-mode-enable = <1>;
		rockchip,baudrate = <1500000>;  /* Only 115200 and 1500000 */
		interrupts = <GIC_SPI 242 IRQ_TYPE_LEVEL_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart0m0_xfer>;
		status = "okay";
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	rk809_sound: rk809-sound {
		status = "okay";
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip-rk809";
		hp-det-gpio = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;
		rockchip,format = "i2s";
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&sai0>;
		rockchip,codec = <&rk809_codec>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	vcc3v3_clk: vcc3v3-clk {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_clk";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&dc_12v>;
	};

	vcc25_ddr: vcc25-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc25_ddr";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		vin-supply = <&vcc3v3_sys>;
	};

	vdd_npu: vdd-npu {
		compatible = "pwm-regulator";
		pwms = <&pwm6 0 5000 1>;
		regulator-name = "vdd_npu";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <1100000>;
		regulator-init-microvolt = <900000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	vcc5v0_usb: vcc5v0-usb {
			compatible = "regulator-fixed";
			regulator-name = "vcc5v0_usb";
			regulator-always-on;
			regulator-boot-on;
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&dc_12v>;
	};
/*
	vcc5v0_usb_host: vcc5v0-usb-host {
			compatible = "regulator-fixed";
			regulator-name = "vcc5v0_usb_host";
			regulator-boot-on;
			regulator-always-on;
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
			vin-supply = <&vcc5v0_usb>;
			pinctrl-names = "default";
			pinctrl-0 = <&usb_host_pwren>;
	};
*/
	vcc5v0_usb_otg: vcc5v0-usb-otg {
			compatible = "regulator-fixed";
			regulator-name = "vcc5v0_usb_otg";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
			vin-supply = <&vcc5v0_usb>;
			pinctrl-names = "default";
			pinctrl-0 = <&usb_otg_pwren>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rk809 1>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;

		/*
		 * On the module itself this is one of these (depending
		 * on the actual card populated):
		 * - SDIO_RESET_L_WL_REG_ON
		 * - PDN (power down when low)
		 */
		post-power-on-delay-ms = <200>;
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&sys_grf>;
		wifi_chip_type = "rtl8822cs";
		WIFI,poweren_gpio = <&gpio0 RK_PB3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>;
		WIFI,host_wake_irq = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <&rk809 1>;
		clock-names = "ext_clock";
		uart_rts_gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart7m0_rtsn>;
		pinctrl-1 = <&uart7_gpios>;
		BT,power_gpio    = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio     = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	backlight_dsi0: backlight-dsi0 {
		compatible = "pwm-backlight";
		pwms = <&pwm5 0 25000 0>;
		brightness-levels = <
			  0  20  20  21  21  22  22  23
			 23  24  24  25  25  26  26  27
			 27  28  28  29  29  30  30  31
			 31  32  32  33  33  34  34  35
			 35  36  36  37  37  38  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
	};

	vcc3v3_lcd0_n: vcc3v3-lcd0-n {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd0_n";
		regulator-boot-on;
		gpio = <&gpio0 RK_PB0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc0 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		vol-up-key {
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <17000>;
		};

		vol-down-key {
			linux,code = <KEY_VOLUMEDOWN>;
			label = "volume down";
			press-threshold-microvolt = <414000>;
		};

		menu-key {
			linux,code = <KEY_MENU>;
			label = "menu";
			press-threshold-microvolt = <800000>;
		};

		back-key {
			linux,code = <KEY_BACK>;
			label = "back";
			press-threshold-microvolt = <1200000>;
		};
	};

	spdif_out: spdif-out {
		status = "okay";
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	spdif-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,name = "rk-spdif-sound";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,cpu {
			sound-dai = <&spdif_8ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&spdif_out>;
		};
	};

	leds: leds {
		status = "okay";
		compatible = "gpio-leds";
	};

};

&leds {
	work_led: work-led {
		gpios = <&gpio0 RK_PC0 GPIO_ACTIVE_HIGH>;
		linux,default-trigger = "heartbeat";
	};
	fan: fan {
		gpios = <&gpio0 RK_PC4 GPIO_ACTIVE_HIGH>;
		default-state = "on";
	};
};

&sai0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2s0m0_lrck
					&i2s0m0_sclk
					&i2s0m0_sdi0
					&i2s0m0_sdo0>;
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m0_xfer>;
};

&pwm6 {
	status = "okay";
};

&pinctrl {
	headphone {
		hp_det: hp-det {
			rockchip,pins = <4 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&sdmmc0 {
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc3v3_sd>;
	vqmmc-supply = <&vccio_sd>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
	status = "okay";
};

&u2phy {
	status = "okay";
};

&u2phy_host {
	status = "okay";
	phy-supply = <&vcc5v0_usb_otg>;
};

&u2phy_otg {
	status = "okay";
	vbus-supply = <&vcc5v0_usb_otg>;
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "otg";
	extcon = <&u2phy>;
	maximum-speed = "high-speed";
	phys = <&u2phy_otg>;
	phy-names = "usb2-phy";
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;
};

&pinctrl {
	usb {
/*		usb_host_pwren: usb-host-pwren {
			rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
	};
*/
		usb_otg_pwren: usb-otg-pwren {
			rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pwm3 {
	status = "okay";

	compatible = "rockchip,remotectl-pwm";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm3m0_pins>;
	assigned-clocks = <&cru CLK_PMU1_PWM0>;
	assigned-clock-rates = <24000000>;
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <1>;

	ir_key1{
		rockchip,usercode = <0x4040>;
		rockchip,key_table =
			<0xf2	KEY_ENTER>,
			<0xf2	KEY_REPLY>,
			<0xf2	KEY_OK>,
			<0xbd	KEY_BACK>,
			<0xf4	KEY_UP>,
			<0xf1	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xee	KEY_RIGHT>,
			<0xe5	KEY_HOME>,
			<0xe7	KEY_VOLUMEUP>,
			<0xe8	KEY_VOLUMEDOWN>,

			<0xb2	KEY_POWER>,
			<0xbc	KEY_MUTE>,
			<0xba	KEY_MENU>,
			<0xfe	KEY_1>,
			<0xfd	KEY_2>,
			<0xfc	KEY_3>,
			<0xfb	KEY_4>,
			<0xfa	KEY_5>,
			<0xf9	KEY_6>,
			<0xf8	KEY_7>,
			<0xf7	KEY_8>,
			<0xf6	KEY_9>,
			<0xff	KEY_0>,
			<0xb8	388>,
			<0xa4	705>,
			<0xa8	706>,
			<0xab	707>,
			<0xe0	165>,
			<0xac	164>,
			<0xe1	163>,
			<0xf3	14>,
			<0xbb	52>,
			<0x54	141>;
	};

	ir_key2{
		rockchip,usercode = <0xfe01>;
		rockchip,key_table =
			<0xec	KEY_REPLY>,
			<0xe6	KEY_BACK>,
			<0xe9	KEY_UP>,
			<0xe5	KEY_DOWN>,
			<0xae	KEY_LEFT>,
			<0xaf	KEY_RIGHT>,
			<0xe7	KEY_VOLUMEUP>,
			<0xee	KEY_HOME>,
			<0xb3	KEY_MENU>,
			<0xbf	KEY_POWER>,
			<0xbe	KEY_MUTE>,
			<0xef	KEY_VOLUMEDOWN>,
			<0xff	388>,
			<0xb1	KEY_1>,
			<0xf2	KEY_2>,
			<0xf3	KEY_3>,
			<0xb5	KEY_4>,
			<0xf6	KEY_5>,
			<0xf7	KEY_6>,
			<0xb9	KEY_7>,
			<0xfa	KEY_8>,
			<0xfb	KEY_9>,
			<0xfe	KEY_0>,
			<0xbd	14>,
			<0xbc	141>,
			<0xf0	707>;
	};

	ir_key3{
		rockchip,usercode = <0xdf00>;
		rockchip,key_table =
			<0xf9	KEY_REPLY>,
			<0xf5	KEY_BACK>,
			<0xe5	KEY_UP>,
			<0xb7	KEY_DOWN>,
			<0xb8	KEY_LEFT>,
			<0xf8	KEY_RIGHT>,
			<0xb4	KEY_VOLUMEUP>,
			<0xb0	KEY_VOLUMEDOWN>,
			<0xe3	KEY_POWER>,
			<0xe7	KEY_MENU>,
			<0xfc	KEY_HOME>,
			<0xab	KEY_1>,
			<0xe9	KEY_2>,
			<0xea	KEY_3>,
			<0xaf	KEY_4>,
			<0xed	KEY_5>,
			<0xee	KEY_6>,
			<0xb3	KEY_7>,
			<0xf1	KEY_8>,
			<0xf2	KEY_9>,
			<0xf3	KEY_0>,
			<0xfe	KEY_F2>,
			<0xa0	KEY_F3>,
			<0xa4	KEY_F4>,
			<0xbe	141>,
			<0xf7	KEY_F12>,
			<0xef	14>,
			<0xbd	388>;
	};

	ir_key4 {
		rockchip,usercode = <0x00ff>;
		rockchip,key_table =
			<0xf8	KEY_REPLY>,
			<0xa3	KEY_BACK>,
			<0xfc	KEY_UP>,
			<0xfd	KEY_DOWN>,
			<0xf1	KEY_LEFT>,
			<0xe5	KEY_RIGHT>,
			<0xf4	KEY_VOLUMEUP>,
			<0xa7	KEY_VOLUMEDOWN>,
			<0xeb	KEY_POWER>,
			<0xec	KEY_MENU>,
			<0xb7	KEY_HOME>,
			<0xef	KEY_F2>,
			<0xf2	KEY_F3>,
			<0x7d	141>;
	};

	ir_key5 {
		rockchip,usercode = <0xf708>;
		rockchip,key_table =
			<0x9a	KEY_REPLY>,
			<0x9c	KEY_BACK>,
			<0x9d	KEY_UP>,
			<0x97	KEY_DOWN>,
			<0x9b	KEY_LEFT>,
			<0x99	KEY_RIGHT>,
			<0x7e	KEY_VOLUMEUP>,
			<0x7d	KEY_VOLUMEDOWN>,
			<0x7f	KEY_POWER>,
			<0x98	KEY_MENU>,
			<0x9f	KEY_HOME>,
			<0x9f   KEY_HOME>,
			<0x86   KEY_MUTE>,
			<0x87   KEY_F8>,
			<0x8d   388>,
			<0x0a   KEY_F5>,
			<0xba   KEY_F6>;
	};

	ir_key6 {
		rockchip,usercode = <0x1608>;
		rockchip,key_table =
			<0xb0   102>,    //home
			<0x74   KEY_BACK>,
			<0x75   KEY_MENU>,
			<0x4d   28>,
			<0x7b   KEY_UP>,
			<0x72   KEY_DOWN>,
			<0x44   KEY_LEFT>,
			<0x71   KEY_RIGHT>,
			<0x4a   KEY_VOLUMEDOWN>,
			<0x76   KEY_VOLUMEUP>,
			<0xa4   KEY_MUTE>,
			<0x78   KEY_POWER>,
			<0x23   KEY_F4>,
			<0x0a   KEY_F5>,
			<0xba   KEY_F6>,
			<0x99   KEY_F7>;
	};

	ir_key7 {
		rockchip,usercode = <0x7f80>;
		rockchip,key_table =
			<0xf2	KEY_REPLY>,
			<0xe4	KEY_BACK>,
			<0xd9	KEY_UP>,
			<0xd7	KEY_DOWN>,
			<0xda	KEY_LEFT>,
			<0xd8	KEY_RIGHT>,
			<0xac	KEY_HOME>,
			<0xb1	KEY_VOLUMEUP>,
			<0xa9	KEY_VOLUMEDOWN>,
			<0xae	KEY_POWER>,
			<0xb2	KEY_MUTE>,
			<0xb6	KEY_MENU>,
			<0xad	388>,
			<0xce	KEY_1>,
			<0xcd	KEY_2>,
			<0xcc	KEY_3>,
			<0xcb	KEY_4>,
			<0xca	KEY_5>,
			<0xc9	KEY_6>,
			<0xc8	KEY_7>,
			<0xc7	KEY_8>,
			<0xc6	KEY_9>,
			<0xcf	KEY_0>,
			<0x42	165>,
			<0x42	KEY_NEXTSONG>,
			<0x44	163>,
			<0x44	KEY_PREVIOUSSONG>,
			<0xbb	14>,
			<0xa7	52>,
			<0xee	705>,
			<0xab	706>,
			<0xf6	704>,
			<0xb0	707>,
			<0xee	KEY_AUDIO>,
			<0xab	KEY_WWW>,
			<0xf6	KEY_VIDEO>,
			<0xb0	KEY_APPSELECT>;
	};

	ir_key8 {
		rockchip,usercode = <0x4040>;
		rockchip,key_table =
			<0xf2	KEY_REPLY>,
			<0xbd	KEY_BACK>,
			<0xf4	KEY_UP>,
			<0xf1	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xee	KEY_RIGHT>,
			<0xe5	KEY_HOME>,
			<0xe7	KEY_VOLUMEUP>,
			<0xe8	KEY_VOLUMEDOWN>,
			<0xb2	KEY_POWER>,
			<0xbc	KEY_MUTE>,
			<0xba	KEY_MENU>,
			<0xfe	KEY_1>,
			<0xfd	KEY_2>,
			<0xfc	KEY_3>,
			<0xfb	KEY_4>,
			<0xfa	KEY_5>,
			<0xf9	KEY_6>,
			<0xf8	KEY_7>,
			<0xf7	KEY_8>,
			<0xf6	KEY_9>,
			<0xff	KEY_0>,
			<0xb8	388>,
			<0xa4	705>,
			<0xa8	706>,
			<0xab	707>,
			<0xe0	165>,
			<0xac	164>,
			<0xe1	163>,
			<0xf3	14>,
			<0xbb	52>,
			<0x54	141>;
	};

	ir_key9 {
		rockchip,usercode = <0x1dcc>;
		rockchip,key_table =
			<0xee	KEY_REPLY>,
			<0xf0	KEY_BACK>,
			<0xf8	KEY_UP>,
			<0xbb	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xed	KEY_RIGHT>,
			<0xfc	KEY_HOME>,
			<0xf1	KEY_VOLUMEUP>,
			<0xfd	KEY_VOLUMEDOWN>,
			<0xb7	KEY_SEARCH>,
			<0xff	KEY_POWER>,
			<0xf3	KEY_MUTE>,
			<0xbf	KEY_MENU>,
			<0xf9	0x191>,
			<0xf5	0x192>,
			<0xb3	388>,
			<0xbe	KEY_1>,
			<0xba	KEY_2>,
			<0xb2	KEY_3>,
			<0xbd	KEY_4>,
			<0xf9	KEY_5>,
			<0xb1	KEY_6>,
			<0xfc	KEY_7>,
			<0xf8	KEY_8>,
			<0xb0	KEY_9>,
			<0xb6	KEY_0>,
			<0xb5	KEY_BACKSPACE>;
	};

	vcc3v3_pcie20: vcc3v3-pcie20 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie20";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		gpios = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&dc_12v>;
	};
};

&sdmmc1 {
	no-sd;
	no-mmc;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
	sd-uhs-sdr104;
	status = "okay";
};

&uart7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart7m0_xfer &uart7m0_ctsn>;
};

&pinctrl {
	wireless-bluetooth {
		uart7_gpios: uart7-gpios {
			rockchip,pins = <3 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <0 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
};

&pcie2x1 {
	reset-gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie20>;
	status = "okay";
};

&i2c5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5m0_xfer>;
};


&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart4m0_xfer>;
};

&leds {
	gpio3c0 {
		gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;
		default-state = "on";
	};
	gpio3c1 {
		gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
		default-state = "on";
	};
	gpio0a6 {
		gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
		default-state = "on";
	};
	gpio4b6 {
		gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
		default-state = "on";
	};
};

&gmac0 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	//phy-mode = "rgmii-rxid";
	phy-mode = "rgmii";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio3 RK_PA0 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	tx_delay = <0x47>;
	rx_delay = <0x40>;

	pinctrl-names = "default";
	pinctrl-0 = <&rgmiim0_miim
					&rgmiim0_tx_bus2
					&rgmiim0_rx_bus2
					&rgmiim0_rgmii_clk
					&rgmiim0_rgmii_bus>;
					//&ethm0_pins>;

	phy-handle = <&rgmii_phy>;
	status = "okay";
};

&mdio0 {
	rgmii_phy: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		//clocks = <&cru CLK_GMAC_ETH_OUT2IO>;
		//assigned-clocks = <&cru CLK_GMAC_ETH_OUT2IO>;
		//assigned-clock-rates = <25000000>;
	};
};

&gmac1 {
	status = "okay";
	phy-mode = "rmii";
	clock_in_out = "input";

	snps,reset-gpio = <&gpio3 RK_PA1 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	tx_delay = <0x10>;
	rx_delay = <0x2f>;

	pinctrl-names="default";
	pinctrl-0 = <&rmii_pins>;

	phy-handle = <&rgmii_phy1>;
};

&mdio1 {
	rgmii_phy1: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x01>;
	};
};

&pwm5 {
	status = "okay";
	pinctrl-0 = <&pwm5m0_pins>;
};

/*
 * video_phy0 needs to be enabled
 * when dsi0 is enabled
 */
&dsi {
	status = "okay";
	//rockchip,lane-rate = <500>;
	dsi0_panel: panel@0 {
		status = "okay";
		compatible = "simple-panel-dsi";
		reg = <0>;

		backlight = <&backlight_dsi0>;
		power-supply = <&vcc3v3_lcd0_n>;

		reset-gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_LOW>;

		reset-delay-ms = <120>;
		enable-delay-ms = <120>;
		prepare-delay-ms = <120>;
		init-delay-ms = <120>;
		unprepare-delay-ms = <60>;
		disable-delay-ms = <60>;

		//dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		//dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes  = <4>;
		panel-init-sequence = [
			15 00 02 E0 00
			15 00 02 E1 93
			15 00 02 E2 65
			15 00 02 E3 F8
			15 00 02 80 03
			15 00 02 E0 01
			15 00 02 00 00
			15 00 02 01 3B
			15 00 02 0C 74
			15 00 02 17 00
			15 00 02 18 AF
			15 00 02 19 00
			15 00 02 1A 00
			15 00 02 1B AF
			15 00 02 1C 00
			15 00 02 35 26
			15 00 02 37 09
			15 00 02 38 04
			15 00 02 39 00
			15 00 02 3A 01
			15 00 02 3C 78
			15 00 02 3D FF
			15 00 02 3E FF
			15 00 02 3F 7F
			15 00 02 40 06
			15 00 02 41 A0
			15 00 02 42 81
			15 00 02 43 14
			15 00 02 44 23
			15 00 02 45 28
			15 00 02 55 02
			15 00 02 57 69
			15 00 02 59 0A
			15 00 02 5A 2A
			15 00 02 5B 17
			15 00 02 5D 7F
			15 00 02 5E 6B
			15 00 02 5F 5C
			15 00 02 60 4F
			15 00 02 61 4D
			15 00 02 62 3F
			15 00 02 63 42
			15 00 02 64 2B
			15 00 02 65 44
			15 00 02 66 43
			15 00 02 67 43
			15 00 02 68 63
			15 00 02 69 52
			15 00 02 6A 5A
			15 00 02 6B 4F
			15 00 02 6C 4E
			15 00 02 6D 20
			15 00 02 6E 0F
			15 00 02 6F 00
			15 00 02 70 7F
			15 00 02 71 6B
			15 00 02 72 5C
			15 00 02 73 4F
			15 00 02 74 4D
			15 00 02 75 3F
			15 00 02 76 42
			15 00 02 77 2B
			15 00 02 78 44
			15 00 02 79 43
			15 00 02 7A 43
			15 00 02 7B 63
			15 00 02 7C 52
			15 00 02 7D 5A
			15 00 02 7E 4F
			15 00 02 7F 4E
			15 00 02 80 20
			15 00 02 81 0F
			15 00 02 82 00
			15 00 02 E0 02
			15 00 02 00 02
			15 00 02 01 02
			15 00 02 02 00
			15 00 02 03 00
			15 00 02 04 1E
			15 00 02 05 1E
			15 00 02 06 1F
			15 00 02 07 1F
			15 00 02 08 1F
			15 00 02 09 17
			15 00 02 0A 17
			15 00 02 0B 37
			15 00 02 0C 37
			15 00 02 0D 47
			15 00 02 0E 47
			15 00 02 0F 45
			15 00 02 10 45
			15 00 02 11 4B
			15 00 02 12 4B
			15 00 02 13 49
			15 00 02 14 49
			15 00 02 15 1F
			15 00 02 16 01
			15 00 02 17 01
			15 00 02 18 00
			15 00 02 19 00
			15 00 02 1A 1E
			15 00 02 1B 1E
			15 00 02 1C 1F
			15 00 02 1D 1F
			15 00 02 1E 1F
			15 00 02 1F 17
			15 00 02 20 17
			15 00 02 21 37
			15 00 02 22 37
			15 00 02 23 46
			15 00 02 24 46
			15 00 02 25 44
			15 00 02 26 44
			15 00 02 27 4A
			15 00 02 28 4A
			15 00 02 29 48
			15 00 02 2A 48
			15 00 02 2B 1F
			15 00 02 2C 01
			15 00 02 2D 01
			15 00 02 2E 00
			15 00 02 2F 00
			15 00 02 30 1F
			15 00 02 31 1F
			15 00 02 32 1E
			15 00 02 33 1E
			15 00 02 34 1F
			15 00 02 35 17
			15 00 02 36 17
			15 00 02 37 37
			15 00 02 38 37
			15 00 02 39 08
			15 00 02 3A 08
			15 00 02 3B 0A
			15 00 02 3C 0A
			15 00 02 3D 04
			15 00 02 3E 04
			15 00 02 3F 06
			15 00 02 40 06
			15 00 02 41 1F
			15 00 02 42 02
			15 00 02 43 02
			15 00 02 44 00
			15 00 02 45 00
			15 00 02 46 1F
			15 00 02 47 1F
			15 00 02 48 1E
			15 00 02 49 1E
			15 00 02 4A 1F
			15 00 02 4B 17
			15 00 02 4C 17
			15 00 02 4D 37
			15 00 02 4E 37
			15 00 02 4F 09
			15 00 02 50 09
			15 00 02 51 0B
			15 00 02 52 0B
			15 00 02 53 05
			15 00 02 54 05
			15 00 02 55 07
			15 00 02 56 07
			15 00 02 57 1F
			15 00 02 58 40
			15 00 02 5B 30
			15 00 02 5C 16
			15 00 02 5D 34
			15 00 02 5E 05
			15 00 02 5F 02
			15 00 02 63 00
			15 00 02 64 6A
			15 00 02 67 73
			15 00 02 68 1D
			15 00 02 69 08
			15 00 02 6A 6A
			15 00 02 6B 08
			15 00 02 6C 00
			15 00 02 6D 00
			15 00 02 6E 00
			15 00 02 6F 88
			15 00 02 75 FF
			15 00 02 77 DD
			15 00 02 78 3F
			15 00 02 79 15
			15 00 02 7A 17
			15 00 02 7D 14
			15 00 02 7E 82
			15 00 02 E0 04
			15 00 02 00 0E
			15 00 02 02 B3
			15 00 02 09 61
			15 00 02 0E 48
			15 00 02 E0 00
			15 00 02 E6 02
			15 00 02 E7 0C
			05 78 01 11
			05 05 01 29
			15 00 02 35 00
		];

		panel-exit-sequence = [
			05 00 01 28
			05 00 01 10
		];

		disp_timings0: display-timings {
			native-mode = <&dsi0_timing0>;
			dsi0_timing0: timing0 {
				clock-frequency = <68000000>;
				hactive = <800>;
				vactive = <1280>;
				hback-porch = <20>;
				hfront-porch = <40>;
				vback-porch = <20>;
				vfront-porch = <20>;
				hsync-len = <20>;
				vsync-len = <4>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};
};

&i2c2 {
	status = "okay";
	gt9xx:gt9xx@5d {
		compatible = "goodix,gt9xx";
		status = "okay";
		reg = <0x5d>;

		gtp_resolution_x = <800>;
		gtp_resolution_y = <1280>;
		gtp_int_tarigger = <1>;
		//gtp_change_x2y = <1>;
		//gtp_overturn_x = <1>;
		//gtp_overturn_y = <0>;
		gtp_send_cfg = <1>;
		gtp_touch_wakeup = <1>;
		goodix_rst_gpio = <&gpio0 RK_PB7 GPIO_ACTIVE_HIGH>;
		goodix_irq_gpio = <&gpio0 RK_PC3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&touch1_gpio>;

		goodix,cfg-group0 = [
			70 20 03 00 05 05 35 00 01 0A
			28 0F 5A 3C 03 05 00 00 00 00
			00 00 06 18 1A 1E 14 8C 2E 0E
			B0 B2 B2 04 00 00 00 98 02 1C
			00 01 00 00 00 03 64 32 00 00
			00 A0 F5 94 D5 02 07 00 00 04
			83 A7 00 7E B5 00 78 C6 00 73
			D7 00 6F EA 00 6F 00 00 00 00
			00 00 00 00 00 00 00 00 00 00
			00 00 00 00 00 00 00 00 00 00
			00 00 00 00 00 00 00 00 00 00
			00 00 1C 1A 18 16 14 12 10 0E
			0C 0A 08 06 04 02 FF FF FF FF
			FF FF FF FF FF FF FF FF FF FF
			FF FF 00 02 04 06 08 0A 0C 0F
			10 12 13 14 16 2A 29 28 26 24
			22 21 20 1F 1E 1D 1C 18 FF FF
			FF FF FF FF FF FF FF FF FF FF
			FF FF FF FF FC 01
		];

	};
};

&pinctrl {
	touch1 {
		touch1_gpio: touch-gpio {
			rockchip,pins =
				<0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>,
				<0 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

};

&i2c4 {
	status = "okay";
	gc5035_0: gc5035_0@37 {
		compatible = "galaxycore,gc5035";
		status = "okay";
		reg = <0x37>;

		clocks = <&cru CLK_CAM0_OUT2IO>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&camm0_clk0_out>;
		//reset-gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
		//pwdn-gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;

		reset-gpios = <&pca9554_gpio 0 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&pca9554_gpio 7 GPIO_ACTIVE_HIGH>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "PC5322-M5";
		port {
			gc5035_out0: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2>;
			};
		};
	};
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

	mipi_in_ucam0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&gc5035_out0>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidcphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi0_csi2_input>;
			};
		};
	};
};


&mipi0_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidcphy0_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in0>;
			};
		};
	};
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in0: endpoint {
			remote-endpoint = <&mipi0_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds_sditf {
	status = "okay";

	port {
		mipi_lvds_sditf: endpoint {
			remote-endpoint = <&isp_vir0>;
		};
	};
};

&rkisp_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir0: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds_sditf>;
		};
	};
};

&i2c5 {
	status = "okay";
	gc5035_1: gc5035_1@37 {
		compatible = "galaxycore,gc5035";
		status = "okay";
		reg = <0x37>;

		clocks = <&cru CLK_CAM1_OUT2IO>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&camm0_clk1_out>;
		//reset-gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
		//pwdn-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;

		reset-gpios = <&pca9554_gpio 2 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&pca9554_gpio 5 GPIO_ACTIVE_HIGH>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "PC5322-M5";
		port {
			gc5035_out1: endpoint {
				remote-endpoint = <&mipi_in_ucam1>;
				data-lanes = <1 2>;
			};
		};
	};
};

&csi2_dphy3 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

	mipi_in_ucam1: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&gc5035_out1>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidcphy2_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi2_csi2_input>;
			};
		};
	};
};

&mipi2_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi2_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidcphy2_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi2_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in2>;
			};
		};
	};
};

&rkcif_mipi_lvds2 {
	status = "okay";

	port {
		cif_mipi_in2: endpoint {
			remote-endpoint = <&mipi2_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds2_sditf {
	status = "okay";

	port {
		mipi_lvds2_sditf: endpoint {
			remote-endpoint = <&isp_vir1>;
		};
	};
};

&rkisp_vir1 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir1: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&mipi_lvds2_sditf>;
		};
	};
};

&i2c0 {
	status = "okay";

	rk809: pmic@20 {
		compatible = "rockchip,rk809";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;

		pinctrl-names = "default", "pmic-sleep",
			"pmic-power-off", "pmic-reset";
		pinctrl-0 = <&pmic_int>;
		pinctrl-1 = <&soc_slppin_slp>, <&rk817_slppin_slp>;
		pinctrl-2 = <&soc_slppin_gpio>, <&rk817_slppin_pwrdn>;
		pinctrl-3 = <&soc_slppin_gpio>, <&rk817_slppin_rst>;
		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <1>;
		clock-output-names = "rk808-clkout1", "rk808-clkout2";
		/* 1: rst regs (default in codes), 0: rst the pmic */
		pmic-reset-func = <0>;
		/* not save the PMIC_POWER_EN register in uboot */
		not-save-power-en = <1>;

		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc5-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;

		pwrkey {
			status = "okay";
		};

		pinctrl_rk8xx: pinctrl_rk8xx {
			gpio-controller;
			#gpio-cells = <2>;

			rk817_slppin_null: rk817_slppin_null {
				pins = "gpio_slp";
				function = "pin_fun0";
			};

			rk817_slppin_slp: rk817_slppin_slp {
				pins = "gpio_slp";
				function = "pin_fun1";
			};

			rk817_slppin_pwrdn: rk817_slppin_pwrdn {
				pins = "gpio_slp";
				function = "pin_fun2";
			};

			rk817_slppin_rst: rk817_slppin_rst {
				pins = "gpio_slp";
				function = "pin_fun3";
			};
		};

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-init-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_logic";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu: DCDC_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-init-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_cpu";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;
				regulator-name = "vcc_ddr";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_gpu: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-init-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_gpu";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc2v8_dvp: LDO_REG1 {
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-name = "vcc2v8_dvp";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v9: LDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda_0v9";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_pmu: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda0v9_pmu";
				regulator-state-mem {
				regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vccio_acodec: LDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-name = "vccio_acodec";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_sd";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_pmu: LDO_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca_1v8: LDO_REG7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca_1v8";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca1v8_pmu: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca1v8_pmu";
				regulator-state-mem {
				regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc1v8_dvp: LDO_REG9 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8_dvp";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3: SWITCH_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_3v3";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_sd: SWITCH_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc3v3_sd";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};

		rk809_codec: codec {
			#sound-dai-cells = <1>;
			compatible = "rockchip,rk809-codec", "rockchip,rk817-codec";
			clocks = <&mclkout_sai0>;
			clock-names = "mclk";
			assigned-clocks = <&mclkout_sai0>;
			assigned-clock-rates = <12288000>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2s0m0_mclk>;
			hp-volume = <20>;
			spk-volume = <3>;
			mic-in-differential;
			status = "okay";
			spk-ctl-gpios = <&gpio2 RK_PA1 GPIO_ACTIVE_HIGH>;
		};
	};

	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "hym8563";
		// IRQ GPIO IS MODIFYED FOR UPDATE HYM8562 DRIVER
		//rtc-irq-gpio = <&gpio0 RK_PD3 IRQ_TYPE_EDGE_FALLING>;
	};

	pca9554: gpio@20 {
		compatible = "pca9554";
		reg = <0x20>;
		status = "okay";

		pca9554_gpio: gpio-normal@20 {
			compatible = "pca9554-gpio";
			gpio-controller;
			#gpio-cells = <2>;
		};
	};
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&dfi {
	status = "okay";
};

&display_subsystem {
	status = "okay";
};

&dmc {
	center-supply = <&vdd_logic>;
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&rga2 {
	status = "okay";
};

&rga2_mmu {
	status = "okay";
};

&rknpu {
	rknpu-supply = <&vdd_npu>;
	status = "okay";
};

&rknpu_mmu {
	status = "okay";
};

&rkvdec {
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&rkvenc {
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&saradc0 {
	status = "okay";
	vref-supply = <&vcc_1v8>;
};

&sdhci {
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	max-frequency = <200000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	full-pwr-cycle-in-suspend;
	status = "okay";
};

&tsadc {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&sai1 {
	status = "okay";
};

&sai2 {
	status = "okay";
};

&uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0m0_xfer>;
};

&rng {
	status = "okay";
};

&combphy {
	status = "okay";
};

&dsi_in_vp0 {
	status = "okay";
};

&video_phy {
	status = "okay";
};

&route_dsi {
	status = "okay";
	connect = <&vp0_out_dsi>;
};

&csi2_dphy0_hw {
	status = "okay";
};

&csi2_dphy1_hw {
	status = "okay";
};

&rkcif {
	status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};
